<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>training_validation_split</key>
	<real>0.666667</real>
	<key>bootstrap_iterations</key>
	<real>100.000000</real>
	<key>se_vs_sp_alpha</key>
	<real>0.500000</real>
	<key>plot_option</key>
	<string>All ROC results</string>
	<key>decimal_places</key>
	<real>2.000000</real>
	<key>exclude_number_data</key>
	<real>1.000000</real>
	<key>binop_number</key>
	<string>lt</string>
	<key>exclude_number_value</key>
	<real>0.000000</real>
	<key>exclude_string_data</key>
	<real>0.000000</real>
	<key>binop_string</key>
	<string>==</string>
	<key>exclude_string_value</key>
	<string></string>
	<key>steps_by_count</key>
	<real>0.000000</real>
	<key>steps_by_delta</key>
	<real>1.000000</real>
	<key>plot_tpr_vs_fpr</key>
	<real>0.000000</real>
	<key>plot_se_vs_sp</key>
	<real>1.000000</real>
	<key>current_pathname</key>
	<string>/Volumes/Macintosh HD 2/Data/Narcolepsy/</string>
	<key>pfile</key>
	<string>softROC_settings.plist</string>
	<key>log_filename</key>
	<string>softROC_file_log.txt</string>
</dict>
</plist>